<div class="container center-align">
    <div class="burger">
        <img class="responsive-img burgerPic" src="/assets/img/durrburgerinvis.png" alt="image of burger">
    </div>
    <div class="center-align">
        <h2>Eat Da Burger</h2>
    </div>
        <div class="line"> </div>
     <div class="center-align">
        <h5 id="burgerTitle">Add a Burrggg</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row valign-wrapper" id="burgerForm">
                <div class="input-field col s12 l4">
                    <input placeholder="Burger Name" class="validate" id="burgerName">
                </div>
                <div class="input-field col s12 l4">
                    <input placeholder="Ingredients (optional)" class="validate" id="burgerIngredients">
                </div>
                <div class="col s12 l4">
                <button class="btn btn-large burgerButton">Send It! <i class="material-icons">mood</i></button>
                </div>
            </div>
        </div>
    </div>
        <div class="line"> </div>
    {{#if burgers}}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                {{#each burgers}}
                {{#unless this.eaten}}
                <h4>{{this.name}}</h4>
                <button class="btn btn-small eatButton" type="submit" data-id={{this.id}}>Eat {{this.name}}!</button>
                {{/unless}}
                {{/each}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    {{#each burgers}}
                    {{#if this.eaten}}
                    <h4>{{this.name}}</h4>
                    <button class="btn btn-small red removeButton" type="submit" data-id={{this.id}}>Remove {{this.name}}!</button>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    </div>
</div>